.filter-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    width: 60vw;
    height: 20vh;
    margin-bottom: 5vh;
    margin-top: 15vh;

    h3{
        font-size: 130%;
        text-decoration: underline;
        text-align: center;
    }

    .check-list{
        display:flex;
        flex-direction: column;
        .list-container{
            overflow: auto;
        }
    }
}
