$light-blue: #37caeb;
$main-color: #253037;

// sets

$gl-ms : "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs : "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm : "screen and (max-width: 48em)"; // max 768px
$gl-md : "screen and (max-width: 64em)"; // max 1024px
$gl-lg : "screen and (max-width: 80em)"; // max 1280px



.show-button{
    color: rgb(216, 22, 22);
    &:hover{
        cursor: pointer;
    }
}

// Table style

table {
    border: solid black 1px;
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 50%;
    width: 100%;
    margin: 10px;
    position: relative;

    td{
        font-size: 17px;
        border: solid rgba(25, 0, 210, 0.267) 1px;
    }

    * {
        position: relative
    }

    td,
    th {
        padding-left: 8px;
    }

    thead tr {
        
        height: 60px;
        background: #9ab0f7;
        font-size: 17px;
    }

    tbody tr {
        height: 48px;
        border-bottom: 1px solid #839697;

        &:last-child {
            border: 0;
        }
    }

    td,
    th {
        
        text-align: center;

        &.l {
            text-align: right
        }

        &.c {
            text-align: center
        }

        &.r {
            text-align: center
        }
    }
}


@media #{$gl-xs} {

    table {
        display: block;

        >*,
        tr,
        td,
        th {
            display: block
        }

        thead {
            display: none
        }

        tbody tr {
            height: auto;
            padding: 8px 0;

            td {
                padding-left: 45%;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0
                }

                &:before {
                    position: absolute;
                    font-weight: 700;
                    width: 40%;
                    left: 10px;
                    top: 0
                }

                &:nth-child(1):before {
                    content: "Code";
                }

                &:nth-child(2):before {
                    content: "Stock";
                }

                &:nth-child(3):before {
                    content: "Cap";
                }

                &:nth-child(4):before {
                    content: "Inch";
                }

                &:nth-child(5):before {
                    content: "Box Type";
                }
            }
        }
    }
}

.price{
    color: #cb3884;
}


