$light-blue: #37caeb;
$main-color:#253037;
.header{
    position: absolute;
    display: flex;
    height: 10%;
    width: 100%;
    background-color: $main-color;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-blue;
    border-bottom: 1px solid $light-blue;
    h1{
        font-size: min(5.5vh, 4vw);
        font-weight: 400;
    }
    img{
        position: absolute;
        height: 90%;
        right: 2vw;
    }
}