@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap%27');

$honey-color: #eba937;
$main-color:#253037;

body{
    font-family: "Roboto", "sans-serif";
    background-color:$main-color;
    color: rgb(0, 0, 0);
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}