$honey-color: #eba937;
$main-color:#253037;
body{
    background-color: aliceblue;
    font-family: "Roboto", "sans-serif";
    background-color:$main-color;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
}